.products {
  .banner {
    margin-top: 20px;
    height: 200px;
    width: 100%;
    color: white;
    background-color: $red;
    text-align: center;
    padding-top: 30px;
    h1 {
      font-size: 70px;
    }
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 20px 0;

      .col {
        width: 300px;
        &__img {
          height: 150px;
          width: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          margin-bottom: 15px;
          &--mhr {
            background-image: url(../images/sale/mhr.webp);
          }
          &--puyo {
            background-image: url(../images/sale/puyopuyo.jpg);
          }
          &--ori {
            background-image: url(../images/sale/ori.webp);
          }
          &--gris {
            background-image: url(../images/sale/gris.webp);
          }
          &--spirit {
            background-image: url(../images/sale/spiritfarer.webp);
          }
          &--hades {
            background-image: url(../images/sale/hades.jpg);
          }
          &--p5s {
            background-image: url(../images/sale/p5s.jpg);
          }
          &--cook {
            background-image: url(../images/sale/overcook.jpg);
          }
          &--shovel {
            background-image: url(../images/sale/shovelknight.jpg);
          }
        }

        &__txt {
          width: 100%;
          //   height: 90px;
          h2 {
            font-size: 20px;
          }
          hr {
            width: 110px;
            color: $red;
          }
        }
      }
    }
  }
}
